@page
@{
ViewData["Title"] = "No such page";
Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/404.css" asp-append-version="true"/>
    <title>404 Error - Page Not Found</title>
</head>
<body class="notfound text-white">
    <div class="color-overlay">
        <div class="notfound__container">
            <div class="notfound__card mx-4 text-center" style="width: 40rem;">
                <div class="card-body">
                    <h1 class="card-title">404 Error:</h1>
                    <h2>Hold onto your pixels!</h2>
                    <h4 class="card-subtitle my-4">You've entered the vortex of missing web pages.</h4>
                    <p>Our page seems to have been caught in the whirlwind of cyberspace. Fear not, though – we're 
                        spinning through the pixels to bring it <a class="card_link light-blue" href="/">back to reality!</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


