image, picture, img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
}

.notfound, .server__error {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.notfound {
    background-image: url("../images/swirling_vortex_pixels.jpg");
}

.server__error {
    background-image: url("../images/robots-fixing-server.jpg");
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.notfound__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notfound__card {
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
}

.light-blue {
    color: #63B0C5; !important;
}