:root {
  --russian-violet: #3D0859;
  --ultra-violet: #604B99;
  --hookers-green: #426A5A;
  --cambridge-blue: #7B9E87;
  --white: #FCFCFC;
  --black: #222;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: BodyFont, sans-serif;
  color: var(--russian-violet); 
}

image, picture, img {
  max-width: 100%;
  height: auto;
}


@font-face {
  font-family: LogoFont;
  src: url("YesevaOne-Regular.ttf");
}

@font-face {
  font-family: SubHeadingFont;
  src: url("MerriweatherSans-BoldItalic.ttf");
}

@font-face {
  font-family: BodyFont;
  src: url("MerriweatherSans-Regular.ttf");
}

.logo-font {
  font-family: LogoFont, serif;
  font-size: 40px;
  color: var(--ultra-violet);
}

.upskillify-text.text-black {
  color: var(--russian-violet); !important;
}
