@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="server__error text-white">
    <div class="color-overlay">
        <div class="notfound__container">
            <div class="notfound__card mx-4 shadow-lg" style="width: 40rem;">
                <div class="card-body">
                    <h1 class="card-title text-danger text-center">500 Error:</h1>
                    <h2 class="text-danger text-center">Robots in Distress!</h2>
                    <p class="card-subtitle my-4">Our robot repair squad may be scratching their metallic heads, but 
                        they're determined to debug this situation faster than you can say '505 server error'!</p>
                    <p>If you want to lend a hand (or a wrench), feel free to reach out to our support team and mention 
                        the quirky ID that's causing all the fuss. They'll be more than happy to assist, and maybe 
                        even share a joke or two along the way!</p>
                    @if (Model.ShowRequestId)
                    {
                    <p class="mt-3">
                        <strong>Request ID:</strong> <code class="text-danger">@Model.RequestId</code>
                    </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
